.footer{
    max-width: 100%;
    &__hero{
       display: flex;
       justify-content: space-between;
       margin: 50px 0;
    }
    &--link{
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: $primary-three; 
        padding-top: 12px;
    }
    &__line{
        width: 1338px;
        border: 1px solid $primary-seven;
    }
}
@media screen and (max-width: 992px){
    .container{
        max-width: 928px;
    }
    .footer{
         &--link{
        font-size: 16px;
        line-height: 24px;
    }
    &__line{
        width: 928px;
        border: 1px solid $primary-seven;
    }
    }
}
@media screen and (max-width:767px){
    .container{
        max-width: 688px;
    }
    .footer{
        &__line{
            width: 688px;
        }
    }
}
@media screen and (max-width:576px){
    .container{
        max-width: 510px;
    }
    .footer{
        &__line{
            width: 510px;
        }
        &--link{
            font-size: 12px;
            line-height: 18px;
        }
    }
}